= simple_form_for(@provider) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company_name
    = f.input :contact_first_name
    = f.input :contact_last_name
    = f.input :city
    = f.input :phone
    = f.input :email
    = f.input :logo_url
    = f.input :website
    = f.input :active

  .form-actions
    = f.button :submit
